$defaultHeadFoot:#C3E0BC ;
$defaultNav:  #F2E3AE;;
$defaulMain: #fff;
$defaultText: #593c19;

$summerHeadFoot: #F5C771;
$summerNav:  #FFF6DB;
$summerMain: #ffff;
$summerText: #593c19;

$winterHeadFoot: #D7F8FC;
$winterNav: #feffff;
$winterMain: #ffffff;
$winterText: rgb(78, 62, 62);

$darkHeadFoot: #444444;
$darkNav: #716e6e;
$darkMain: #444444;
$darkText: #f4f4f4;


$primary-color: #FFF6DB;
$secondary-color: #F2E3AE;
$tertiary-color: #F2D5AE;
$quaternary-color: #C3E0BC;
$lightroast-color:#B89972;

$primary-btn: #FFB754;